:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;
    color: #2b2a2ade;
    background-color: #FFF;
}

body {
    margin: 0;
    place-items: center;
}